ais-esb-post-wf/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Response_Successful": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": 200,
                    "body": "Message successfully delivered."
                },
                "runAfter": {
                    "Send_message": [
                        "Succeeded"
                    ]
                }
            },
            "Response_Failed": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": 400,
                    "body": "Failed to deliver message."
                },
                "runAfter": {
                    "Send_message": [
                        "TIMEDOUT",
                        "FAILED"
                    ]
                }
            },
            "Send_message": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "entityName": "customer-topic",
                        "message": {
                            "contentData": "@triggerBody()",
                            "label": "@triggerOutputs()['headers']?['operation']"
                        }
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "sendMessage",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "runAfter": {}
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "firstName": {
                                "type": "string"
                            },
                            "lastName": {
                                "type": "string"
                            },
                            "status": {
                                "type": "integer"
                            }
                        }
                    },
                    "method": "POST"
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateless"
}